.photo-popup__close {
  background-image: url(../../../images/Close.svg);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  box-sizing: border-box;
  background-position: center;
  cursor: pointer;
  box-shadow: none;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  outline: none;
  z-index: 1;
  transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
}

.photo-popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .photo-popup__close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
