.popup__container {
  display: block;
  width: 353px;
  background-color: #fff;
  color: #000;
  padding: 36px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1023px) {
  .popup__container {
    max-width: 294px;
    padding: 29px;
  }
}

@media screen and (max-width: 767px) {
  .popup__container {
    max-width: 238px;
    padding: 25px 22px;
  }
}
